<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505622044851-3b98vu8gu630im6ieb6hci7n6kkh7roo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505622044851-3b98vu8gu630im6ieb6hci7n6kkh7roo</string>
	<key>API_KEY</key>
	<string>AIzaSyAK--kyBNiAAmEI7wo-Qd0WhOdje3-vv4s</string>
	<key>GCM_SENDER_ID</key>
	<string>505622044851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ostapyshyn.Save-FetchFromFireBase</string>
	<key>PROJECT_ID</key>
	<string>firestoreadvent</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoreadvent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505622044851:ios:6ada1bab4f512592b390c6</string>
	<key>DATABASE_URL</key>
	<string>https://firestoreadvent.firebaseio.com</string>
</dict>
</plist>